<% include ../views/partials/header %>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#addperson" aria-expanded="false" aria-controls="addperson">
  Add New Person
</a>

<a class="btn btn-danger" role="button" data-toggle="collapse" href="#deleteperson" aria-expanded="false" aria-controls="deleteperson">
  Delete Person
</a>

<a class="btn btn-success" role="button" data-toggle="collapse" href="#updateperson" aria-expanded="false" aria-controls="deleteperson">
  Update PersonName
</a>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#addlocation" aria-expanded="false" aria-controls="addlocation">
  Add New Location
</a>

<a class="btn btn-danger" role="button" data-toggle="collapse" href="#deletelocation" aria-expanded="false" aria-controls="deleteperson">
  Delete Location
</a>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#connectfriends" aria-expanded="false" aria-controls="connectfriends">
  Connect Friends
</a>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#addbirthplace" aria-expanded="false" aria-controls="addbirthplace">
  Add Birthplace
</a>

<br></br>

<div class="collapse" id="addperson">
  <div class="well">
  <h3>Add New Person</h3>
    <form method="POST" action="/person/add">
        <input type="text" name="name" placeholder="Name">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
</div>


<div class="collapse" id="deleteperson">
  <div class="well">
  <h3>Delete Person</h3>
    <form method="POST" action="/person/delete">
        <input type="text" name="dname" placeholder="Name">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
   <div class="well">
    <h3>Delete Person with Relationships</h3>
      <form method="POST" action="/person/deletenode">
          <input type="text" name="delnoname" placeholder="Name">
          <input type="submit" value="Submit" class="btn btn-default btn-sm">
      </form>
     </div>
</div>


<div class="collapse" id="updateperson">
  <div class="well">
  <h3>Update PersonName</h3>
    <form method="POST" action="/person/update">
        <input type="text" name="acname" placeholder="Actual Name">
        <input type="text" name="upname" placeholder="New Name">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
</div>


<div class="collapse" id="addlocation">
  <div class="well">
  <h3>Add New Location</h3>
    <form method="POST" action="/location/add">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="state" placeholder="State">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
</div>

<div class="collapse" id="deletelocation">
  <div class="well">
  <h3>Delete Location</h3>
    <form method="POST" action="/location/delete">
        <input type="text" name="delocation" placeholder="City">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
</div>


<div class="collapse" id="connectfriends">
  <div class="well">
 <h3>Connect Friends</h3>
    <form method="POST" action="/friends/connect">
        <input type="text" name="name1" placeholder="Name">
        <input type="text" name="name2" placeholder="Name">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
</div>

<div class="collapse" id="addbirthplace">
  <div class="well">
 <h3>Add Birthplace</h3>
<form method="POST" action="/person/born/add">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <input type="text" name="year" placeholder="Year">
    <input type="submit" value="Submit" class="btn btn-default btn-sm">
</form>
   </div>
</div>

<h3>People</h3>
<div class="row">
<% persons.forEach(function(person){ %>
    <div class="col-md-2">
    <div class="well"><i class="fa fa-user"></i> <a href="/person/<%= person.id %>"><%= person.name %></a></div>
    </div>
<% }) %>
</div>

<h3>Locations</h3>
<div class="row">
<% locations.forEach(function(location){ %>
 <div class="col-md-2">
    <div class="well"><i class="fa fa-map-marker"></i>  <%= location.city %>, <%= location.state %></div>
   </div>
<% }) %>
</div>
<% include ../views/partials/footer %>